<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ⭐ مجوزهای مورد نیاز برای عکس، دوربین و ذخیره‌سازی -->

    <!-- دسترسی به اینترنت (برای دانلود فونت‌ها) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- دسترسی به دوربین -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- دسترسی به گالری و فایل‌ها (Android 12 و پایین‌تر) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32"/>

    <!-- دسترسی به تصاویر (Android 13 و بالاتر) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!-- دسترسی به ویدیو (اختیاری) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <!-- دسترسی به فایل‌های صوتی (اختیاری) -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/> -->

    <!-- اعلام استفاده از دوربین -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
            android:label="PDF Creator"
            android:name="${applicationName}"
            android:icon="@mipmap/ic_launcher"
            android:requestLegacyExternalStorage="true">

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:taskAffinity=""
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize">

            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme"
            />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
                android:name="flutterEmbedding"
                android:value="2" />

        <!-- ⭐ FileProvider برای اشتراک‌گذاری و باز کردن فایل‌های PDF -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- ⭐ برای باز کردن فایل‌های PDF -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/pdf" />
        </intent>

        <!-- ⭐ برای انتخاب تصاویر -->
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>
</manifest>